@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0c0a09;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'GeistVF';
  src: url('/fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMonoVF';
  src: url('/fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProtestStrike-Regular';
  src: url('/fonts/ProtestStrike-Regular') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.font-protest-strike {
  font-family: var(--font-protest-strike), 'ProtestStrike-Regular', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'GeistVF';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
